/* contact-top */
body {
    background-color: #fff;
    font-family: Arial !important;
}

header {
    background: #333;

}


.contact-top {
    height: 36px;
    background: #f9c809;
    position: relative;
    width: 998px;
    margin: 0 auto;
    text-align: left;
    font-family: Arial !important;
    font-size: 14px !important;
    line-height: 24px !important;
    font-weight: normal !important;
    color: #666;
    display: flex;
    justify-content: space-between;
}

.contact-top::before {
    content: "";
    position: absolute;
    right: -20px;
    height: 100%;
    width: 35px;
    background: #f9c809;
    top: 0;
    transform: skew(-34deg);
    z-index: 1;
}

.contact-top::after {
    content: "";
    position: absolute;
    left: -15px;
    height: 100%;
    width: 35px;
    background: #f9c809;
    top: 0;
    transform: skew(34deg);
    z-index: 1;
}



.fl-head {
    display: flex;
    justify-content: space-around;
    margin-left: 25px;
    align-items: center;
    padding: 2px;

}

.fr-head {
    display: flex;
    margin-right: 25px;

}

/* contact-top */

/* banner */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    width: 998px;
    margin: 0 auto;
    text-align: left;
    font-family: Arial !important;
    font-size: 14px !important;
    line-height: 24px !important;
    font-weight: normal !important;
    color: #666;
    margin-top: 50px;
    margin-bottom: 50px;

}

/* banner */

/* navbar */
.navbar {
    width: 100%;
    min-height: 40px;
    margin: 0;
    padding: 0;
    background: #333;
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
}

.navbar ul {
    width: 1000px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.navbar ul li {
    padding: 0 .5%;
    font-weight: bold;
    float: left;
    display: block;
    border-right: 1px #222 solid;
    transition: 0.5s ease;
}


.navbar ul li:hover a {
    color: #000;
    background: #fff;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 7px;
    line-height: 40px;
}

/* navbar */

/* carousel */
#carousel {
    width: 450px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

#image-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-image {
    width: 400px;
    height: 300px;
}

/* carousel */
/* hex-shape */

.hex-main {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
}

.hex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 960px;

}

.hexshape {
    width: 320px;
    height: 290px;
    position: relative;
    border: 2px solid transparent;
    padding-top: 15px;
    overflow: hidden;
    background: url(image/banner-bx.png) no-repeat;
    background-size: 100% 100%;
    transition: 0.5s;
}


.img-bn {
    text-align: center;
}

.img-bn img {
    background: #f9c809;
    border-radius: 50%;
    padding: 10px 10px;
    border: 3px solid #8e7100;
    box-shadow: 3px 3px 5px #111;
    transition: 0.5s;
}

.hexshape:hover .img-bn img {
    transform: rotate(360deg) scale(1.1);
    transition: 0.5s;
}

.hexshape:hover:after,
.hexshape:hover:before {
    left: 35px;
    opacity: 1;
}


.hexshape h2 {
    font-family: Helvetica, Arial;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    color: #fff;
    line-height: 30px;
    margin-top: 10px;
    margin-top: 0;
    padding: 3px 0px 5px;
    font-size: 22px;
    margin-bottom: 0;
}

.hexshape p {
    font-size: 14px;
    font-family: Helvetica;
    color: #fff;
    line-height: 20px;
    padding: 0 10px;
    text-align: center;
    margin-top: 75px;
    transition: 0.5s;
}

.hexshape a {
    color: #fff;
    text-decoration: none;
    margin-right: 0;
    font-size: 12px;
    background: #f9c809;
    padding: 4px 10px;
    border-radius: 5px;
    color: #000;
    box-shadow: 4px 5px 4px #000;
}

.hexshape:hover p {
    margin-top: 0px;
    transition: 0.5s;
}

.hexshape:hover p.img-bn {
    margin-top: 20px;
    transition: 0.5s;
}

/* hex-shape */

/* welcome-message */
.wm {
    background: #f9c809;
    ;
    width: 998px;
    margin: 0 auto;
    border-radius: 25px;
    padding: 10px;

}

.wm,
.wm p,
.wm h2 {
    text-align: center;
}

.wm1 {
    text-align: center;
    margin-bottom: 35px;
    font-size: 26px;
    position: relative;
}

.wm1 span {
    padding: 3px 9px;
    position: relative;
    z-index: 9;
    background: transparent;
}

.wm1 span:before {
    content: "";
    position: absolute;
    left: 0;
    height: 3px;
    width: 70%;
    background: #262626;
    bottom: -7px;
    right: 0;
    margin: 0 auto;
}

.wm1 span:after {
    content: "";
    position: absolute;
    left: 0;
    height: 8px;
    width: 20%;
    background: #262626;
    bottom: -12px;
    right: 0;
    margin: 0 auto;
}

/* welcome-message */

/* otm */
.otm {
    background: url(image/team-bg.jpg) no-repeat;
    background-attachment: fixed;
    padding: 40px 0px;
    margin-bottom: 50px;
    border-top: 6px solid #262626;
    border-bottom: 6px solid #262626;
    box-shadow: 0px 7px 5px #ccc;
}

.otm .s-otm {
    color: #fff;
    width: 998px;
    margin: 0 auto;
}

.otm .s-otm strong {
    color: #f9c809;
}

.otm .s-otm span:before {
    background: #8e8e8e;
}

.otm p,
.otm h2 {
    color: #fff;
    text-align: center;
}

.otm p.rd-mr {
    margin-top: 30px;
}

.otm p.rd-mr a {
    border-radius: 6px;
    background: #f9c809;
    color: #000;
    padding: 7px 18px 7px 43px;
    border-color: #8e7204;
    box-shadow: 4px 3px 5px #222;
    position: relative;
}

.otm p.rd-mr a:before {
    position: absolute;
    left: 0;
    padding-right: 15px;
    width: 100%;
    content: attr(data-hover);
    opacity: 0;
    text-align: center;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

/* otm */

/* our-services */

.container-main {
    width: 998px;
    margin: 0 auto;
    text-align: left;
    font-family: Arial !important;
    font-size: 14px !important;
    line-height: 24px !important;
    font-weight: normal !important;
    color: #666;
}

.container-main a {
    color: #236fb6;
    text-decoration: none;
}


.our-service {
    padding-bottom: 0px;
    padding-top: 50px;
}

.os1 {
    float: left;
    width: 30%;
    position: relative;
    border: 5px solid #f9c809;
    height: 348px;
    overflow: hidden;
    box-shadow: 7px 5px 5px #ccc;
}

.os1 img {
    width: 100%;
}

.os2 {
    float: left;
    width: 68.5%;
}

.os-bx {
    float: left;
    width: 42%;
    margin-left: 3%;
    border: 1px solid #ddd;
    padding: 15px 15px;
    margin-bottom: 18px;
    position: relative;
}

.os1 h2 {
    position: absolute;
    top: 140px;
    width: 100%;
    text-align: center;
    color: #fff;
}

.os1 h2 strong {
    color: #f9c809;
}

.os-img {
    float: left;
    width: 25%;
}

.os-img img {
    height: 60px;
}

.os-cnt {
    float: left;
    width: 75%;
}

.os-cnt h3 {
    margin: 0;
    color: #0e1320;
    margin-bottom: 10px;
    font-size: 18px;
}

.os-cnt p {
    font-size: 13px;
    line-height: 17px;
}

.os-bx,
.os-bx:hover,
.rd-mr img,
.os-img img {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}

.os-bx:hover {
    box-shadow: 2px 3px 4px #ccc;
    border-color: #0e1320;
}

.os-bx:hover .rd-mr img {
    margin-left: 15px;
}

.os-bx:hover img {
    transform: rotate(15deg);
}

.os-bx:before {
    content: "";
    background-color: #0e1320;
    display: block;
    width: 40px;
    height: 3px;
    position: absolute;
    left: 0;
    opacity: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    top: 0;
}

.os-bx:after {
    content: "";
    background-color: #0e1320;
    display: block;
    width: 40px;
    height: 3px;
    position: absolute;
    left: 0;
    opacity: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    bottom: 0;
}

.os-bx:hover:after,
.os-bx:hover:before {
    left: 35px;
    opacity: 1;
}

/* our-services */

/* footer */

.footer {
    font-family: Arial !important;
    margin-top: 500px;
    padding-top: 5px;
    background: url(image/ft-bg.jpg) no-repeat;
    background-attachment: fixed;
    color: #fff;
    background-size: cover;
    padding-top: 20px;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    width: 998px;
    margin: 0 auto;
}

.footer-cprht {
    display: flex;
    justify-content: space-between;
    width: 998px;
    margin: 0 auto;
}

.col-three h2 {
    font-size: 20px;
    position: relative;
    color: #fff;
    margin-bottom: 13px;
    text-transform: capitalize;
    border-bottom: 1px dashed #333;
    padding-bottom: 5px;
}

.col-three h2 span {
    position: absolute;
    width: 100%;
    left: 1px;
    font-size: 20px;
    color: #222;
    z-index: 1;
    top: -17px;
}

.col-three {
    float: left;
    width: 20%;
    margin: 1%;
}

.ft-cont {
    width: 32%;
}

.us-lk ul {
    list-style-type: square;
    font-size: 13px;
    margin-bottom: 0;
    color: #fff;
    padding-left: 24px;
}

.us-lk ul li {
    line-height: 20px;
    margin-bottom: 7px;
}

.us-lk ul li:hover {
    padding-left: 5px;
}

.us-lk ul li a {
    color: #8e8e8e;
}

.us-lk ul li:hover a {
    color: #f9c809 !important;
}

footer a {
    color: #fff;
}

.ft-soc ul {
    font-size: 16px;
    margin-bottom: 0;
    list-style: none;
}

.ft-cont strong {
    color: #fff;
}

.ft-cont p {
    margin-bottom: 8px;
    font-size: 13px;
    line-height: 20px;
    color: #8e8e8e;
    line-height: 23px;
    min-height: 25px;
    transition: 0.5s;
}


.ft-cont i {
    width: 35px;
    /* height: 35px; */
    text-align: center;
    border: 1px solid #8e8e8e;
    font-size: 19px;
    /* line-height: 44px; */
    margin-right: 11px;
    margin-top: 4px;
    vertical-align: initial;
    float: left;
    transition: 0.5s;
    padding: 7px 0;
}

.ft-cont p:hover i {
    background: #f9c809;
    transition: 0.5s;
}

/* footer */

/* form */
/* form */


.display {
    justify-content: center;
}

.form-control-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 1rem;
    padding: 5px;
    justify-content: center;
    width: 90%;
    margin-inline: auto;
    margin-left: auto;

}

.form-control {

    width: 100%;
    height: auto;
    padding: 3%;
}

.input {
    display: block;
    min-width: unset;
    width: 100%;
    height: 34px;
    padding: 0px 0px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.inputMI {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 1rem;
}

.inputM {
    display: block;
    min-width: unset;
    width: 100%;
    height: 34px;
    padding: 0px 0px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.main_text_title {

    color: #20418e;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 11px 0 0 0;
    width: 100%;
}


.line-centered {
    position: relative;
    display: block;
    max-width: 100px;
    height: 2px;
    background: #f8cd1e;
    margin: 10px auto 10px;
}


.label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.important {
    color: #FF0004;
}

.form_bu {

    display: flex;
    justify-content: center;
    padding: 50px;

}

.form_bu .btn {
    background: #f8cd1e;
    color: #333;
    margin: 0 5px;
    font-weight: bold;
    
    justify-content: center;
}

.btn {
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: normal normal 700 12px 80% Arial, Helvetica, sans-serif;
    padding: 0.2em 0.2em 0.2em 0.2em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    -webkit-border-radius: 0.5em;
    -moz-border-radius: .5em;
    border-radius: 0.5em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    color: #FFFFFF;
    border: solid 2px transparent;
    min-width: 80px;
    background: #404c54;

}

.form-btn {
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: normal normal 700 12px 80% Arial, Helvetica, sans-serif;
    padding: 0.2em 0.2em 0.2em 0.2em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    -webkit-border-radius: 0.5em;
    -moz-border-radius: .5em;
    border-radius: 0.5em;
    color: #FFFFFF;
    border: solid 2px transparent;
    min-width: 80px;
}

.form-btn-main {
    text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    -webkit-border-radius: 0.5em;
    -moz-border-radius: .5em;
    border-radius: 0.5em;
    border: solid 2px transparent;
    min-width: 80px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    .form-control-group {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 0rem;
        row-gap: 1rem;
        padding: 5px;
        justify-content: center;
        width: 100%;
        margin-inline: auto;

    }

    .form-control {

        width: 90%;
        height: auto;
        padding: 3%;
    }

    .inputMI {
        display: grid;
        grid-template-columns: 1fr;
        
    }

    .inputM
    {
        margin-bottom: 5px;
    }

    .main_text_title {
        margin-top: 0 !important;
    }


    .label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 18px;
        line-height: 1.42857143;
        color: #333;
        background-color: #fff;
    }

}


@media screen and (max-width: 767px) {

    .form-control-group {
        display: grid;
        grid-template-columns: 1fr;
       
        column-gap: 0rem;
        row-gap: 1rem;
        padding: 5px;
        justify-content: center;
        width: 100%;
        margin-inline: auto;

    }

    .form-control {

        width: 90%;
        height: auto;
        padding: 3%;
    }

    .inputMI {
        display: grid;
        grid-template-columns: 1fr;
        
    }

    .inputM
    {
        margin-bottom: 5px;
    }

    .main_text_title {
        margin-top: 0 !important;
    }


    .label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 18px;
        line-height: 1.42857143;
        color: #333;
        background-color: #fff;
    }

}
